$dark-orange: #A35709;
$text-color: #F0E3CA;
$task-background: #1F1E1B;

.task-container {
    width: 100%;
}

.task {
    position: relative;
    background-color: $task-background;
    border: 2px solid $dark-orange;
    border-radius: 10px; //округляет рамки.
    height: 48px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; //распределяет пространство между дочерними элементами.
    align-items: center; //выравнивает дочерние элементы по центру по вертикали.
    color: $text-color; //устанавливает цвет текста.
       
}
// определяет стили для контейнера задач и самих задач.